/*@import "./shared.scss"*/

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.btn-cheezy {
  background: orange;
  color: #FF5733;
  border: 1px solid darkorange;
  margin: 1em;
  text-shadow: 0 0px 0;
}

.center {
  text-align: center;
  float: none;
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.left {
  float: left;
}

.logo {
  margin-top: -33px;
  height: 7vh;
  width: auto;
  float: left;
}

.rotate {
  -webkit-animation: logo-spin infinite 20s linear;
  animation: logo-spin infinite 20s linear;
}

.eighty-pt {
  width: 85%;
}

@-webkit-keyframes logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

body {
  background-color: lightblue;
}

.m-t-50px {
  margin-top: 50px;
}

.m-0-auto {
  margin: 0 auto;
}

.show {
  display: all;
  border: 1px solid black;
}